.Cart{
    display: flex;
    flex-flow: column;
    background-color: #BBCBCB;
    height: 95vh;
    overflow: scroll;
}

.cards{
    height: 85vh;
    overflow: scroll;
}

.card{
    margin: 1em 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 1em;
    border: 0.25em dashed black;
}

.card:first-child{
    margin-top: 0;
}

.card img{
    max-width: auto;
    max-height: 10vh;
}

.BuyTickets{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 10em;
    padding: 0 0.5em;
    color: antiquewhite;
    background: radial-gradient(#18020C, 65%, #634B66);
}

.delete{
    border: black solid 0.15em;
    border-radius: 20%;
    background-color: red;
    background: radial-gradient(red, 85%, pink );
}