.CartWidget{
    background-color: #BBCBCB;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 3vh;
    border: 0.3em solid #BBCBCB
}

.CartWidget p{
    margin: 0rem 1rem 0rem 1rem;
}

.CartWidget:hover{
    border: 0.3em dashed #634b66;
}