.Checkout{
    background-color: #BBCBCB;
    height: 95vh;
    position: relative;
}
.Checkout h1{
    margin: 0 0 1em 0;
}
.Checkout form{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.Checkout form input{
    width: 65vw;
}

.Checkout form button{
    margin-top: 1rem;
    color: antiquewhite;
    background: radial-gradient(#18020C, 65%, #634B66);
    height: 10vh;
    width: 10em;
}

.resetter{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}