.ItemCount{
    grid-area: count;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #634B66;
    margin: 1rem;
    padding: 1rem;
}

.ItemCount button{
    background-color: #9590A8;
    color: white;
    border: 0.1rem solid black;
    margin: 0.1rem;
}

.ItemCount p{
    margin: 0rem 1rem 0rem 1rem;
}

.sendToCart{
    grid-column: 1 / 4;
}