.Item{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    width: 25vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.Item p{
    margin: 0;
}

.Item button{
    background-color: #9590A8;
    width: 5rem;
    justify-self: center;
}